{% extends '::base.html.twig' %}

{% block body %}


    {%  for partner in partners %}

        <a href="{{ path('partner', {'alias': partner.alias}) }}">
            {{ partner.name }}
        </a> |

    {%  endfor %}


{% endblock %}

{% block stylesheets %}

{% endblock %}
