{% extends '::base.html.twig' %}

{% block body %}

{{ partner.name}}
{{ partner.cashback }}

<div>
    <a class="button" href="">Zum Partner</a>
</div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
