{% extends '::base.html.twig' %}

{% block body %}

    <h1>Transaktionen</h1>

    <table>
        <thead>
            <tr>
                <td>Datum</td>
                <td>Partner</td>
                <td>Summe</td>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td> {{ transaction.createDate|date("d.m.Y") }} </td>
                <td> {{ transaction.partner.name }} </td>
                <td class="{% if transaction.amount > 0 %}green-text{% else %}red-text{% endif %}"> {{ transaction.amount|number_format(2, ',') }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block stylesheets %}

{% endblock %}
